/*
	Personal.dn.ua
	css file
	Mihaylovskaya Ekaterina
*/

body {
	font-family: Arial, sans-serif, sans;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0px;
}

.clearfix {
	clear: none;
}

/* Header */

#header {
	height: 300px;
}

.line_light {
	background: #666666;
}

.line_dark {
	background: #444;
}

.top_line {
	height: 10px;
}

.big_line {
	height: 45px;
}

.second_line {
	height: 5px;
}

.small_line {
	height: 16px;
}

.main_line {
	background: RGB(185, 17, 17);
	height: 209px;
}

.links {
	font-weight: bold;
	line-height: 45px;
	margin: 0 auto;
	width: 960px;
}

.links a {
	color: white;
	text-decoration: none;
}

.link {
	float:right;
}

.header_content {
	height: 209px;
	margin: 0 auto;
	padding-left: 117px;
	width: 960px;
}

.pers_img {
	background: url("../images/main-collage.jpg");
	display: inline-block;
	height: 209px;
	width: 400px;
}

.header_menu {
	background: white;
	display: inline-block;
	height: 209px;
	margin-left: -4px;
	vertical-align: top;
	width: 239px;
}

.header_menu ul {
	margin-top: 0px;
	padding: 0 15px;
}

.header_menu ul li{
	background: url('../images/menu-box.gif') left center no-repeat;
	border-bottom: #b82827 dotted 1px;
	font-size: 0.95em;
	list-style: none;
	margin: 13px 0;
	padding: 5px 5px 6px 15px;
}

.header_menu ul li a {
	color: #b82827;
	font-weight: bold;
	padding-left: 5px;
	text-decoration:none;
}

.header_menu ul li a:hover {
	background: #444;
	color:white;
}

.pen {
	background: url("../images/collage-0.jpg");
	display: inline-block;
	height: 209px;
	margin-left: -4px;
	width: 263px;
}

.nav {
	color: #ccc;
	font-size: 0.85em;
	line-height: 16px;
	margin: 0 auto;
	width: 960px;
}

/* Main content */

#main {
	margin: 0 auto;
	width: 960px;
}

#main_content {
	float: left;
	width: 700px;
}

.content {
	width: 660px;
}

.title_cont {
	color: #444;
	font-size: 1.6em;
	line-height: 45px;
}

.content ul {
	padding-left:0;
}

.content ul li {
	background: url('../images/ul-li.jpg') left center no-repeat;
	list-style: none;
	padding: 5px 0 0 25px;
}

/* Sidebar */

#sidebar {
	margin-left: 700px;	
}

.menu_title {
	background: RGB(185, 17,17) url("../images/box-name.jpg") top right no-repeat;
	color: white;
	line-height: 24px;
	text-align: center;
}

.side_block ul{
	margin: 0;
	padding: 2px 0 13px 14px;
}

.side_block ul li{
	display: block;
	font-size: 0.95em;
	font-weight: bold;
	list-style: none;
	list-style-image: none;
	margin: 2px 0;
	
}

.side_block ul li a{
	color: black;
	display: block;
	font-size: 0.95em;
	line-height: 15px;
	padding: 2px 4px;
	text-decoration: none;
}

.side_block ul li a:hover{
	background: #444;
	color:white;
}

.side_block ul li .item   {

}

.side_block ul li .item .link a{
	color: RGB(185, 17,17);
	display: block;
	float:left;
	font-weight:normal;
	font-size: 0.95em;
	padding: 0 180px 0 0;
	text-decoration: underline;
}

ul li .item .link a:hover{
	background: white;
	text-decoration: none;
} 

.item {
	height: 34px;
}

/* Footer */

.down {
	background: RGB(185, 17,17);
}

#footer {
	background: RGB(79, 79, 79);
	height: 125px;
}

.footer_content {
	margin: 20px auto 0 auto;
	width: 960px;
}

.sign {
	color:#ccc;
	float:right;
	font-size: 0.95em;
	margin-top: 20px;
}

.sign a {
	color:#ccc;
}

.sign a:hover {
	text-decoration: none;
}